<div>
     <header>Book_Information</header>
     <tittle>book_information</tittle>
     <main>
          <dl>
               <dt>ID:</dt>
               <dd id="bookId">{{_id}}</dd>
               <dt>Tittle:</dt>
               <dd>{{Tittle}}</dd>
               <dt>Author Firstname:</dt>
               <dd>{{Author_FirstName}}</dd>
               <dt>Author LastName:</dt>
               <dd>{{Author_LastName}}</dd>
               <dt>Publisher:</dt>
               <dd>{{Publisher}}</dd>
               <dt>Genre:</dt>
               <dd>{{Genre}}</dd>
               <dt>Rating:</dt>
               <dd>{{Rating}}</dd>
               <dt>Recommendations:</dt>
               <dd>{{Recommendations}}</dd>
               <dt>Comments:</dt>
               <dd>{{Comments}}</dd>
          </dl>
          <h3>Rating</h3>
          <script src="../public/rating.js"></script>
          <div class="wrapper">
               <a href="javascript:;" class="a-rating"></a>
               <a href="javascript:;" class="a-rating"></a>
               <a href="javascript:;" class="a-rating"></a>
               <a href="javascript:;" class="a-rating"></a>
               <a href="javascript:;" class="a-rating"></a>
          </div>
     </main>
</div>